<div class="conversation-container">
  <div class="form-container">
    <p class="login-title"><%= @conversation.subject %></p>
    <hr class="conversation-hr"></hr>
    <div class="one-line">
    <% @conversation.receipts_for(current_user).each do |receipt| %>
      <% if receipt.message.sender.name == "#{current_user.firstname} #{current_user.lastname}" %>
          <div class="chat-div">
            <p class="description-text"><b><%= receipt.message.sender.name %>:</b></p>
            <p class="chat-text"><%= receipt.message.body %></p>
          </div>
      <% else %>
        <div class="chat-div-otheruser">
          <p class="description-text"><b><%= receipt.message.sender.name %>:</b></p>
          <p class="chat-text"><%= receipt.message.body %></p>
        </div>
      <% end %>
    <% end %>
  </div>

    <%= form_tag conversation_messages_path(@conversation), method: :post do %>
      <div class="message-div">
        <%= text_area_tag :body, nil, placeholder: "Message", class: "input-description" %>
      </div>
      <div>
        <%= submit_tag :Send, class: "login-button" %>
        <a href="/conversations" class="back-button">Message List</a>
      </div>
    <% end %>
  </div>
</div>
