<!DOCTYPE html>
<html>
  <head>
    <title>Toolshare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,700,800" rel="stylesheet">
    <link href="./app/assets/stylesheets/System.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <% if user_signed_in? %>
      <%= react_component "NavBar", current_user: {
        id: current_user.id,
        email: current_user.email,
        firstname: current_user.firstname,
        lastname: current_user.lastname,
        tool_ids: current_user.tool_ids,
      } %>
    <% else %>
      <%= react_component 'NavBar', props: {'logged_in': false}%>
    <% end %>

    <%= yield %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
